/**
 *
 * animations styles
 *
**/

.menu {
    opacity: 0;
    animation-name: fade-in-context-menu;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in-context-menu { 
    from {
        opacity: 0;
        transform: scale(.98);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}


.dialog {
    opacity: 0;
    margin-top: -10px;
    animation-name: fade-in-dialog;
    animation-duration: 0.1s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in-dialog { 
    from {
        opacity: 0;
        transform: scale(1);
        margin-top: -10px;
        box-shadow: none;
    } to {
        opacity: 1;
        transform: scale(1);
        margin-top: 0px;
    }
}

#dialog_zone {
    opacity: 0;
    animation-name: fade-in-dialog-zone;
    animation-duration: 0.18s;
    animation-delay: 0.02s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in-dialog-zone { 
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.table .row td:nth-child(2) {
    transition: color 0.1s ease-out;
}

.menu .colours .colour.selected::after {
    transition: background 0.1s ease-out;
}

#filter_zone .filter-option {
    transition: background 0.05s ease-out;
}

.progress-bar {
    transition: width 0.2s ease;
}