/**
 *
 * Styles for loading screen, splash, etc.
 *
**/

html, body {
    color-scheme: dark;
    scroll-behavior: auto;
}

body {
    margin: 0px;
    background-color: #121213;
    padding: 0px 10px;
    max-width: 1000px;
    min-height: calc(100vh + 10px);
    margin: auto;
    padding-bottom: calc(100vh - 75px - 8 * 50px);
}