/**
 *
 * Styles for loading screen, splash, etc.
 *
**/

html, body {
    color-scheme: dark;
    scroll-behavior: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: Calibri, Arial, sans-serif;
}

body {
    margin: 0px;
    background-color: #121213;
    padding: 0px 10px;
    max-width: 1000px;
    width: 100%;
    min-height: calc(100vh + 10px);
    margin: auto;
    padding-bottom: calc(100vh - 75px - 8 * 50px);
}

[disabled] {
    pointer-events: none;
    opacity: 0.4;
}