/**
 *
 * Basic page style for the table
 *
**/

.table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table .ranked-row {
    width: 100%;
}

.table .row {
    cursor: pointer;
}

.table .row td {
    padding: 12px;
}

.table .row td:nth-child(2) {
    width: 100%;
}

[data-cover-english=true] .table .row td:nth-child(2) {
    color: transparent;
}

.table .row td:nth-child(3),
.table .row td:nth-child(4) {
    min-width: 120px;
}

.table .row td:nth-child(4) {
    font-family: Narkisim, Times New Roman, Arial, serif;
}


.table td,
.table th {
    text-align: center;
    font-size: 1.3em;
    padding: 8px;
    position: relative;
}

.table th {
    font-size: 1.4em;
    text-align: center;
    color: #ffffff;
}

.table .head {
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 5;
}
.table .head th {
    padding: 24px 6px;
    background-color: #121213;
}

.table .ranked-row:nth-child(even) .row {
    background-color: #161618;
}
.table .ranked-row:nth-child(odd) .row {
    background-color: #1f1f24;
}

.table .ranked-row .row:hover,
.table .ranked-row .row:focus,
.table .ranked-row .row:active {
    background-color: #32323b;
}

.table > .ranked-row:nth-child(even) .row.red {
    background-color: #5e131c;
}
.table .ranked-row:nth-child(odd) .row.red {
    background-color: #642029;
}

.table .ranked-row .row.red:hover,
.table .ranked-row .row.red:focus,
.table .ranked-row .row.red:active {
    background-color: #7c3740;
}

.table .ranked-row:nth-child(even) .row.yellow {
    background-color: #5a4c1c;
}
.table .ranked-row:nth-child(odd) .row.yellow {
    background-color: #79672d;
}

.table .ranked-row .row.yellow:hover,
.table .ranked-row .row.yellow:focus,
.table .ranked-row .row.yellow:active {
    background-color: #8f7d44;
}

.table .ranked-row:nth-child(even) .row.green {
    background-color: #073b1f;
}
.table .ranked-row:nth-child(odd) .row.green {
    background-color: #0d4929;
}

.table .ranked-row .row.green:hover,
.table .ranked-row .row.green:focus,
.table .ranked-row .row.green:active {
    background-color: #1f613d;
}

.table .ranked-row:nth-child(even) .row.blue {
    background-color: #0f2a47;
}
.table .ranked-row:nth-child(odd) .row.blue {
    background-color: #173558;
}

.table .ranked-row .row.blue:hover,
.table .ranked-row .row.blue:focus,
.table .ranked-row .row.blue:active {
    background-color: #284a70;
}


.hide-grey .ranked-row .row:not(.yellow):not(.red):not(.green):not(.blue){
    display: none;
}
.hide-yellow .ranked-row .row.yellow{
    display: none;
}
.hide-red .ranked-row .row.red {
    display: none;
}
.hide-green .ranked-row .row.green {
    display: none;
}
.hide-blue .ranked-row .row.blue {
    display: none;
}
